h1 {
    font-size: 32px;
    color: orange;
    width: 16em;
    margin: 10px auto 10px auto;
    border: groove;
    text-align: center;
}

h2{
    font-size: 20px;
    color: yellow;
}

h3{
    font-size: 20px;
    color:orange;
    font-weight: bold;
}

h4{
    font-size: 1em;
}

body {
    background-color: #676767;
    color: orange;
    align-items: center;
}
table{
    border: groove;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: auto;
}

#factorSafetyTable{
    width: 35em;
}

#img1{
    height: 420px;
    margin: 10px auto 10px auto;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 45px;
}

td{
    width: 11em;
    border: 1px;
    color: yellow;
    padding-right: 5px;
}

